#mytriphero{
    // margin: 30px 100px 0px 300px;
    width: 100%;
}
#mytriphero h1{
    font-size: 2rem;
    color: #042d37;
}



#tripimage {
    width: 50%;
}

#mytriphero {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    
    img {
        object-fit: cover;
    }

}

#tripmanage{
    font-size: 17px;
    padding-bottom: 10px;
    color: #042d37;
}
#mytripinput{
    box-shadow: 0px 5px 15px rgba(152, 151, 151, 0.25);
    width: 100%;
    height: 60px;
    cursor: pointer;
}
#mytripinput::placeholder{
    color: #042d37;
    font-weight: bold;
}
#inputiconright{
   
    color:#0076cd;
}
#inputiconleft{

    color: #042d37;
}
#tripbooking{
    font-size: 17px;
    color: #042d37;
    // padding-bottom: 30px;
    display: flex;
    font-weight: bold;
}
// #bookingicon{
//     margin-top: 5px;
// }
#tripaccount{
    font-size: 25px;
    color: #042d37;
    // padding-bottom: 10px;
}
#tripfree{
    font-size: 17px;
    color: #042d37;
    // padding-bottom: 10px;
}
#mytripflex{
    display: flex;
    // justify-content: space-between;
}

#tripfooterlinks{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
#tripfooterlinks a{
    color: gray;
    margin-right: 40px;
}


@media(max-width: 900px){
    #tripimage{
        display: none;
    }

    #mytriphero {
        width: 100%;
    }
}