#navhero {
  margin: 10px 40px 10px 40px;
}
#navtop {
  display: flex;
  justify-content: space-between;
}
#logo{
  width:20px;
}
#navbottom {
  display: flex;
}
#navtopside {
  display: flex;
  margin-top: 10px;
}
#navtopside img {
  width: 23px;
  height: 15px;
}
#navtopside p {
  font-weight: bold;
}
#navtopsidecontent {
  display: flex;
  margin-right: 20px;
  color: #052c49;
}
#navtoplink{
  color: #052c49;
  font-weight: bold;
  text-decoration: none;
}
#navtopsidecontent:hover{
  background-color: #eaebed;
}
#navtopsideimg {
  margin-top: 4px;
  margin-right: 10px;
  color: #052c49;
}

#navbottom a {
  margin-right: 40px;
  margin-top: 15px;
  font-size: 20px;
  color: #052c49;
  padding: 5px;
  text-decoration: none;
}
#navbottom a:hover{
  background-color: #eaebed;
}

#bodybck {
  width: 100%;
  height: 450px;
  object-fit: cover;
}
#tripinputs {
  display: flex;
}
